table#vb-author-affiliations_table {
    width: 100%;
}

table#vb-author-affiliations_table th.rorid {
    width: 20%;
}

table#vb-author-affiliations_table th.author {
    width: 30%;
}

table#vb-author-affiliations_table th.rorlink {
    width: 25px;
}

table#vb-author-affiliations_table a.rorlink {
    text-decoration: none;
}

table#vb-author-affiliations_table input {
    display: inline-block;
    width: 100%;
}